<p><a class="button is-info" href="{% url 'export' entries.first.form.pk %}" target="_blank">Download</a></p>
<div class="columns is-multiline">
{% for entry in entries %}
<div class="column is-full">
  <div class="card">
    <div class="card-header">
      <div class="card-header-title">
        <p>{{ entry.name }}</p>
      </div>
    </div>
    <div class="card-content">
      <div class="table-container">
        <table class="table is-fullwidth is-striped is-hoverable has-text-centered">
          <thead>
            <tr>
              <th>author</th>
              <th>value</th>
              <th>submitted date</th>
            </tr>
          </thead>
          <tbody>
            {% for record in entry.records.filter %}
            <tr>
              <td>{{ record.author|default:"- - -" }}</td>
              <td>{{ record.value }}</td>
              <td>{{ record.date_submitted|date }}</td>
            </tr>
            {% empty %}
            <tr>
              <td>- - -</td>
              <td>- - -</td>
              <td>- - -</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>