{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}DjangoForm{% endblock %}</title>
    <meta name="description" content="Easily create and share online forms and surveys.">
    <meta name="author" content="Brady Fomegne">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  </head>

  <body>
    {% block body %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
  </body>
</html>