{% extends '_base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
  <nav class="navbar container" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" class="is-128x128">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        {% if user.is_authenticated %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{ user.email }}
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'account_change_password' %}">
              Change password
            </a><a class="navbar-item" href="{% url 'account_email' %}">
              Change email
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="{% url 'account_logout' %}">
              Sign out
            </a>
          </div>
        </div>
        {% else %}
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="{% url 'account_signup' %}?next={{ request.GET.next }}">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="{% url 'account_login' %}?next={{ request.GET.next }}">
              Log in
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>
  <section class="section container">
      {% if messages %}
        {% for message in messages %}
        <div class="notification is-{% if message.level == 20 %}info{% elif message.level == 25 %}success{% elif message.level == 30 %}warning{% else %}danger{% endif %}">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% block content %}
      <p>Default content</p>
      {% endblock %}
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <img src="{% static 'images/logo.png' %}" width="128">
      <p>
        by <a href="https://github.com/pythonbrad">Brad Fomegne</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </footer>
{% endblock %}